bin/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
/configFile/
src/main/resources/application.properties
nohup.out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/libraries/*
.idea/*
!.idea/workspace.example.xml
!.idea/modules.xml
!.idea/misc.xml
!.idea/encodings.xml
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
